@page "/Settings"
@using HotelPriceScout.Data.Interface
@using HotelPriceScout.Data.Model
@inject NavigationManager NavManager
@inject SettingsManager SettingsManager

<div class="row">
    <div class="col-xl-4 offset-xl-4 col-sm-7 offset-sm-2 p-2 shadow bg-white rounded">
        <div class="row">
            <div class="text-center col">
                <h1 class="display-5">Settings</h1>
            </div>
        </div>
        <div class="text-center col h4">
            <label>Margin value percent</label>
        </div>
        <div class="text-center col p-3">
            <input type="number" id="margin" class="form-control" min="1" @bind="SettingsManager.MarginDropdown">
        </div>
        <div class="text-center col h4">
            <label>Amount of notifications</label>
        </div>
        <div class="text-center col p-3">
            <select id="notification-amount" class="form-control" @bind="SettingsManager.NotificationAmountDropdown">
                @for (int i=0; i<=3; i++)
                {
                    <option value="@i">@i.ToString()</option>
                }
            </select>
        </div>
      
        @if (SettingsManager.NotificationAmountDropdown > 0)

        {
            <div class="text-center col h4">
                <label>Notification time</label>
            </div>
            <div class="text-center col p-3">
                <input type="time" id="notification-time-1" class="form-control" @bind="SettingsManager.TimeValueDropdown">
            </div>
        }
      
        @if (SettingsManager.NotificationAmountDropdown > 1)

        {
            <div class="text-center col p-3">
                <input type="time" id="notification-time-2" class="form-control" @bind="SettingsManager.TimeValue2Dropdown">
            </div>
        }
      
        @if (SettingsManager.NotificationAmountDropdown > 2)

        {
            <div class="text-center col p-3">
                <input type="time" id="notification-time-3" class="form-control" @bind="SettingsManager.TimeValue3Dropdown">
            </div>
        }

        @if (SettingsManager.showStart)

        {
            <div class=""><button type="button" class="shadow p-2 rounded btn btn-success col" @onclick="StartProgram"> Start program</button></div>
        }

        @if (SettingsManager.startPopup)
        {
            <div class="modal fade show d-block" id="Modal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <h4 class="modal-title" id="titleLabel">Settings have been set</h4>
                            <h5 class="modal-title" id="titleLabel">Going to dashboard in @timer seconds</h5>
                        </div>
                        <div class="modal-footer">
                            <NavLink class="form-control border border-dark" @onclick="@SettingsManager.ModalStartPopUp" href="/Dashboard">Go to dashboard </NavLink>
                            <button type="button" class="form-control border border-dark" @onclick="@SettingsManager.ModalStartPopUp"> Stay </button>
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (SettingsManager.showStop)
        {
            <div class="d-flex">
                <button type="button" class="shadow p-3 rounded btn btn-danger col p-3" data-bs-toggle="modal" @onkeydown="@SettingsManager.EscapeStop" @onclick="SettingsManager.ModalStopPopUp"> Stop program</button>
                <button type="button" class="shadow p-3  rounded btn btn-primary col p-3" data-bs-toggle="modal" @onkeydown="@SettingsManager.EscapeUpdate" @onclick="SettingsManager.ModalUpdatePopUp">Update program</button>
            </div>
        }
        @if (SettingsManager.stopPopup)
        {
            <div class="modal fade show d-block" id="Modal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="titleLabel">Are you sure you want to stop the program?</h5>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="form-control border border-dark" @onclick="StopProgram">Yes </button>
                            <button type="button" class="form-control border border-dark" @onclick="SettingsManager.ModalStopPopUp"> No </button>
                        </div>
                    </div>
                </div>
            </div>
        }

        @if (SettingsManager.updatePopup)
        {
            <div class="modal fade show d-block" id="Modal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="titleLabel">Are you sure you want to update the program?</h5>
                        </div>
                        <div class=modal-footer>
                            <button type="button" class="form-control border border-dark" @onclick="UpdateProgram">Yes</button>
                            <button type="button" class="form-control border border-dark" @onclick="SettingsManager.ModalUpdatePopUp">No</button>
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (SettingsManager.updateYes)
        {
            <div class="modal fade show d-block" id="Modal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <h2 class="modal-title" id="titleLabel">The program has been updated!</h2>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@code {

    private int timer;
    private async void Countdown()
    {
        for (timer = 10; timer >= 0; timer--)
        {
            await Task.Delay(1000);
            StateHasChanged();
            if (SettingsManager.startPopup == false)
            {
                break;
            }
        }
        if (timer <= 0)
        {
            SettingsManager.startPopup = !SettingsManager.startPopup;
            NavManager.NavigateTo("/Dashboard");
        }
    }

    private void StopProgram()
    {
        Program.ScoutSharedService.ScoutRunning = false;
        SettingsManager.SetStopScoutSettings();
        Program.ScoutSharedService.Scout.StopScout();
        StateHasChanged();
    }

    private async void UpdateProgram()
    {
        SettingsManager.SetUpdateScoutSettings();
        SettingsManager.updateYes = !SettingsManager.updateYes;
        StateHasChanged();
        await Task.Delay(1500);
        SettingsManager.updateYes = !SettingsManager.updateYes;
        StateHasChanged();
    }

    private async void StartProgram()
    {
        Program.ScoutSharedService.ScoutRunning = true;
        SettingsManager.SetStartScoutSettings();
        Countdown();
        Program.ScoutSharedService.Scout = await Scout.CreateScoutAsync(SettingsManager.MarginPicked, SettingsManager.GetNotificationTimes());
        Program.ScoutSharedService.Scout.StartScout();
        StateHasChanged();
    }
}