@page "/Settings"
@using HotelPriceScout.Data.Interface
@using HotelPriceScout.Data.Model
@inject NavigationManager NavManager
@inherits SettingsManager
@inject ScoutSharedService _scoutService


<h1>Settings</h1>
<br />
<label>Margin value percent</label>
<br />
<SfNumericTextBox Width="200px" TValue="int" Step="1" Max="100" Min="1" @bind-Value="marginPicked"></SfNumericTextBox>
<br />&nbsp;
<br />
<br />&nbsp;
<br />

<label>Amount of notifications</label>
<br />
<SfDropDownList Width="200px" TItem="NotificationAmount" TValue="int" @bind-value="notificationAmountPicked" DataSource="@Notifications">
    <DropDownListFieldSettings Text="Text" Value="Notification"></DropDownListFieldSettings>
</SfDropDownList>

<br />&nbsp;
<br />
<br />&nbsp;
<br />

<label>Notification time(s)</label>
<br />
<SfTimePicker Width="200px" TValue="DateTime " @bind-Value="@timeValue" Step=30 Format="HH:mm"></SfTimePicker>


@if (notificationAmountPicked == 2)
{
    <SfTimePicker Width="200px" TValue="DateTime" @bind-Value="@timeValue2" Step=30 Format="HH:mm"></SfTimePicker>
}

@if (notificationAmountPicked == 3)
{
    <SfTimePicker Width="200px" TValue="DateTime" @bind-Value="@timeValue2" Step=30 Format="HH:mm"></SfTimePicker>
    <SfTimePicker Width="200px" TValue="DateTime" @bind-Value="@timeValue3" Step=60 Format="HH:mm"></SfTimePicker>
}
<br />&nbsp;
<br />

<div class="row">
    @if (showStart)
    {
        <button type="button" class="border border-dark col-md-1 btn btn-success" disabled=@isScoutStarted @onclick="StartProgram"> Start program</button>
    }
    @if (modalStart)
    {
        <div class="modal fade show d-block" id="Modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <h4 class="modal-title" id="titleLabel">Settings have been set</h4>
                        <h5 class="modal-title" id="titleLabel">Redirecting in @timer seconds</h5>
                    </div>
                    <div class="modal-footer">
                        <NavLink class="form-control border border-dark" @onclick="@ModalStart" href="/Dashboard">Redirect </NavLink>
                        <button type="button" class="form-control border border-dark" @onclick="@ModalStart"> Stay </button>
                    </div>
                </div>
            </div>
        </div>
    }

    @if (showStop)
    {
        <button type="button" class="border border-dark col-md-1 btn btn-danger" data-bs-toggle="modal" @onkeydown="@EscapeStop" @onclick="PopUp"> Stop program</button>
    }
    @if (popUp)
    {
        <div class="modal fade show d-block" id="Modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="titleLabel">Are you sure you want to stop the program?</h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="form-control border border-dark" disabled=@isScoutStopped @onclick="StopProgram">Yes </button>
                        <button type="button" class="form-control border border-dark" disabled=@isScoutStopped @onclick="PopUp"> No </button>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="col-md-1">
    </div>
    @if (showUpdate)
    {
        <button type="button" class="border border-dark col-md-1 btn btn-primary" data-bs-toggle="modal" @onkeydown="@EscapeUpdate" @onclick="UpdatePopUp">Update program</button>
    }
    @if (updatePopUp)
    {
        <div class="modal fade show d-block" id="Modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="titleLabel">Are you sure you want to update the program?</h5>
                    </div>
                    <div class=modal-footer>
                        <button type="button" class="form-control border border-dark" col-8 col-sm-3 disabled=@isScoutUpdated @onclick="UpdateProgram">Yes</button>
                        <button type="button" class="form-control border border-dark" col-4 col-sm-3 disabled=@isScoutUpdated @onclick="UpdatePopUp">No</button>
                    </div>
                </div>
            </div>
        </div>
    }
    @if (updateYes)
    {
        <div class="modal fade show d-block" id="Modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <h2 class="modal-title" id="titleLabel">The program has been updated!</h2>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class=col-md-3>
    </div>
</div>

@code {
    private int timer;
    private async void Countdown()
    {
        for (timer = 10; timer >= 0; timer--)
        {
            await Task.Delay(1000);
            StateHasChanged();
            if (modalStart == false)
            {
                break;
            }
        }
        if (timer <= 0)
        {
            ModalStart();
            NavManager.NavigateTo("/Dashboard");
        }
    }


    public class NotificationAmount
    {
        public int Notification { get; set; }
        public string Text { get; set; }
    }
    private List<NotificationAmount> Notifications = new List<NotificationAmount>()
    {
        new NotificationAmount(){ Notification= 0, Text= "0" },
        new NotificationAmount(){ Notification= 1, Text= "1" },
        new NotificationAmount(){ Notification= 2, Text= "2" },
        new NotificationAmount(){ Notification= 3, Text= "3" },
    };

    private void StopProgram()
    {
        isScoutStopped = true;
        _scoutService.ScoutRunning = false;
        ShowStartButton();
        ShowStopButton();
        ShowUpdateButton();
        PopUp();
        marginPickedPass = default;
        notificationPickedPass = default;
        timeValuePass = default;
        timeValuePass2 = default;
        timeValuePass3 = default;
        isScoutStarted = false;
        marginPicked = 1;
        notificationAmountPicked = 1;
        _scoutService.Scout.StopScout();
        StateHasChanged();
    }


    private async void UpdateProgram()
    {
        isScoutUpdated = true;
        await OnButtonClick();
        updateYes = true;
        UpdatePopUp();
        StateHasChanged();
        marginPickedPass = marginPicked;
        notificationPickedPass = notificationAmountPicked;
        timeValuePass = timeValue;
        timeValuePass2 = timeValue2;
        timeValuePass3 = timeValue3;
        isScoutUpdated = false;
        await Task.Delay(1500);
        updateYes = false;
        StateHasChanged();
    }

    private async void StartProgram()
    {
        _scoutService.ScoutRunning = true;
        marginPickedPass = marginPicked;
        notificationPickedPass = notificationAmountPicked;
        timeValuePass = timeValue;
        timeValuePass2 = timeValue2;
        timeValuePass3 = timeValue3;
        modalStart = true;
        Countdown();
        isScoutStarted = true;
        ShowStopButton();
        ShowUpdateButton();
        ShowStartButton();
        isScoutStopped = false;
        _scoutService.Scout = await Scout.CreateScoutAsync(marginPickedPass, GetNotificationTimes());
        _scoutService.Scout.StartScout();
        StateHasChanged();
    }

    private Task OnButtonClick()
    {
        return Task.Delay(1000);
    }


    private void EscapeUpdate(KeyboardEventArgs e)
    {
        if (e.Code == "Escape")
        {
            UpdatePopUp();
        }
    }

    private void EscapeStop(KeyboardEventArgs f)
    {
        if (f.Code == "Escape")
        {
            PopUp();
        }
    }
}