@page "/settings"



<h1>Settings</h1>
<br />

<label>Margin value</label>
<br />
<SfNumericTextBox Width="200px" TValue="int?" Step="1" Max="100" Min="1" @bind-Value="MarginPicked"></SfNumericTextBox>
<br />&nbsp;
<br />
<br />&nbsp;
<br />

<label>Amount of notifications</label><br />
<SfDropDownList Width="200px" TItem="NotificationAmount" TValue="int" @bind-value="NotificationAmountPicked" DataSource="@Notifications">
    <DropDownListFieldSettings Text="Text" Value="Notification"></DropDownListFieldSettings>
</SfDropDownList>

<br />&nbsp;
<br />
<br />&nbsp;
<br />

<label>Notification time(s)</label>
<br />
<SfTimePicker Width="200px" TValue="DateTime?" Value="@TimeValue" Step=30 Format="HH:mm" ></SfTimePicker>


@if (NotificationAmountPicked == 2)
{
    <SfTimePicker Width="200px" TValue="DateTime?" Value="@TimeValue2" Step=30 Format="HH:mm"></SfTimePicker>
}

@if (NotificationAmountPicked == 3)
{
    <SfTimePicker Width="200px" TValue="DateTime?" Value="@TimeValue2" Step=30 Format="HH:mm"></SfTimePicker>
    <SfTimePicker Width="200px" TValue="DateTime?" Value="@TimeValue3" Step=60 Format="HH:mm"></SfTimePicker>
}


<div class="row">
    @if (showstart)
    {
        <button type="button" class="border border-dark col-md-1 btn btn-success" disabled=@IsScoutStarted @onclick="StartProgram"> Start program</button>
    }

    @if (showstop)
    {
        <button type="button" class="border border-dark col-md-1 btn btn-danger" data-bs-toggle="modal" @onkeydown="@EscapeStop" @onclick="PopUp"> Stop program</button>
    }
    @if (popup)
    {
        <div class="modal fade show d-block" id="Modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="titleLabel">Are you sure you want to stop the program?</h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="form-control border border-dark" disabled=@IsScoutStopped @onclick="StopProgram">Yes </button>
                        <button type="button" class="form-control border border-dark" disabled=@IsScoutStopped @onclick="PopUp"> No </button>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="col-md-1">
    </div>
    @if (showupdate)
    {
        <button type="button" class="border border-dark col-md-1 btn btn-primary" data-bs-toggle="modal" @onkeydown="@EscapeUpdate" @onclick="UpdatePopUp">Update program</button>
    }
    @if (updatepopup)
    {
        <div class="modal fade show d-block" id="Modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="titleLabel">Are you sure you want to update the program?</h5>
                    </div>
                    <div class=modal-footer>
                        <button type="button" class="form-control border border-dark" col-8 col-sm-3 disabled=@IsScoutUpdated @onclick="UpdateProgram">Yes</button>
                        <button type="button" class="form-control border border-dark" col-4 col-sm-3 disabled=@IsScoutUpdated @onclick="UpdatePopUp">No</button>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class=col-md-3>
    </div>
</div>





@code {
    public int? MarginPicked = 1;
    public int NotificationAmountPicked = 1;

    public class NotificationAmount
    {
        public int Notification { get; set; }
        public string Text { get; set; }
    }
    public List<NotificationAmount> Notifications = new List<NotificationAmount>()
    {
        new NotificationAmount(){ Notification= 1, Text= "1" },
        new NotificationAmount(){ Notification= 2, Text= "2" },
        new NotificationAmount(){ Notification= 3, Text= "3" },
    };


    public DateTime TimeValue { get; set; } = DateTime.Now;
    public DateTime TimeValue2 { get; set; } = DateTime.Now;
    public DateTime TimeValue3 { get; set; } = DateTime.Now;


    bool IsScoutStopped = false;
    bool IsScoutUpdated = false;
    bool IsScoutStarted = false;


    public void StopProgram()
    {
        IsScoutStopped = true;
        ShowStartButton();
        ShowStopButton();
        ShowUpdateButton();
        PopUp();
        IsScoutStarted = false;
        StateHasChanged();

    }


    async void UpdateProgram()
    {
        IsScoutUpdated = true;
        await OnButtonClick();
        UpdatePopUp();
        IsScoutUpdated = false;
        StateHasChanged();
    }


    public void StartProgram()
    {
        IsScoutStarted = true;
        ShowStopButton();
        ShowUpdateButton();
        ShowStartButton();
        IsScoutStopped = false;
        StateHasChanged();

    }


    Task OnButtonClick()
    {

        return Task.Delay(1000);
    }


    private bool showstop = false;
    private void ShowStopButton()
    {
        showstop = !showstop;
    }

    private bool showstart = true;
    private void ShowStartButton()
    {
        showstart = !showstart;
    }

    private bool showupdate = false;
    private void ShowUpdateButton()
    {
        showupdate = !showupdate;
    }


    public bool popup = false;
    private void PopUp()
    {
        popup = !popup;
    }

    public bool updatepopup = false;
    private void UpdatePopUp()
    {
        updatepopup = !updatepopup;
    }


    public void EscapeUpdate(KeyboardEventArgs e)
    {
        if (e.Code == "Escape")
        {
            UpdatePopUp();
        }
    }

    public void EscapeStop(KeyboardEventArgs f)
    {
        if (f.Code == "Escape")
        {
            PopUp();
        }
    }

}